:root {
    --font: 'Inter var';
    --font-size: 1.1vw;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: var(--font);
    font-size: var(--font-size);
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

header div {
    flex: 1;
}

header div:nth-child(2) {
    text-align: center;
    padding-bottom: 0.2vw;
}

header div:nth-child(3) {
    text-align: right;
}

.person {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
} 

@media only screen and (max-width: 600px) {
    .person {
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
    } 
  }

.photo {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.model {
    flex: 1;
}

model-viewer {
    width: 100%;
    height: 100%;
    --progress-bar-color: #000000;
    --progress-bar-height: 2px;
    background-color: unset;
}

.title {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    font-weight: 400;
    font-size: 2.91vw;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
}

.title div {
    flex: 1
}

.title div a:hover {
    filter: blur(2px);

}

.title div:nth-child(2) {
    text-align: right;
}

.artem .photo {
    background-image: url("./assets/artem.jpg");
}

.artem .model {
    background: radial-gradient(100% 107.71% at 0% 51.06%, #876AAA 0%, #DEFFBE 100%);
}

.artem .title {
    color: #DCFAC0;
}

.a-c-1 {
    color: #DCFAC0;
}

.a-c-2 {
    color: #8969AC;
}

