* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    flex: 1;
    padding: 1vw;
}

.header-links {
    flex: 1;
}


.logo > a > img {
    width: 10vw;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    mix-blend-mode: exclusion;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
    
.name {
    position: absolute;
    z-index: 1;
}

.person {
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
} 

@media only screen and (max-width: 600px) {
    .person {
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
    } 
  }

.photo {
    flex: 1;
    background-color: beige;
    background-image:  url("./assets/photo.JPG");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}

.model {
    flex: 1;
    background-color: cornflowerblue;
}

model-viewer {
    width: 100%;
    height: 100%;
    --progress-bar-color: #000000;
    --progress-bar-height: 2px;
    background-color: unset;
}

.caption {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    bottom: 0;
    flex-direction: row;
    align-items: flex-end;    
    padding-left: 2vw;
    padding-bottom: 2vw;
}